<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="com.yoojung0318.puppyplay.post.monthly.dao.MonthlyDAO">
 
	<insert id="insertMonthly" parameterType="map">
			INSERT INTO
						`monthly`
			(						
						 `title`
						, `start`
						, `end`
						, `createdAt`
						, `updatedAt`
			)
			VALUES			
			(
						 #{title}
						, #{start}
						, #{end}
						, now()
						, now()
			)
	</insert>
 
	 <select id="selectMonthly" parameterType="map"
	 resultType="com.yoojung0318.puppyplay.post.monthly.model.Monthly">
	 	
	 		SELECT 
						`id`
						, `title`
						, `start`
						, `end`
						, `createdAt`
						, `updatedAt``
	 		FROM 	
	 					`monthly`	
	 					
	 </select>
	 
	 
 </mapper>