<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="com.yoojung0318.puppyplay.post.notice.dao.NoticeDAO">
 
 <insert id="insertNotice" parameterType="map">
 
	 INSERT INTO
	 				`notice`
	 (	 	
	 	`userId`
	 	,`title`
	 	,`content`
	 	,`createdAt`
	 	,`updatedAt`
	 )				
 	VALUES
 	(	
 		#{userId}  
	 	,#{title}
	 	, #{content}
	 	, now()
	 	, now()
 	)
 </insert>
 
 <update id="updateNotice" parameterType="map">
 	UPDATE 
 			`notice`
 	SET
 			`title` = #{title}
 			, `content` = #{content}
 			, `updatedAt` = now()
 	WHERE				
 			`id` = #{postId}
 
 </update>
 
 <select id="selectNoticeList" parameterType="map"
 resultType="com.yoojung0318.puppyplay.post.notice.model.Notice">

	SELECT 
		`id`
		,`userId`
	 	,`title`
	 	,`content`
	 	,`createdAt`
	 	,`updatedAt`
	FROM	
		`notice`
 </select>
 
 <select id="selectNotice" parameterType="int"
 resultType="com.yoojung0318.puppyplay.post.notice.model.Notice">
  	SELECT 
		`id`
		,`userId`
	 	,`title`
	 	,`content`
	 	,`createdAt`
	 	,`updatedAt`
	FROM	
		`notice`
	WHERE
		`id` = #{id}	
 </select>
 </mapper>