<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="com.yoojung0318.puppyplay.post.qna.DAO.QnaDAO">
 
 	<insert id="insertQna" parameterType="map">
 		INSERT INTO
 					`qna`
 		(
 					`userId`
 					,`title`
 					,`content`
 					,`answer`
 					,createdAt
 					,updatedAt
 		)			
 		VALUES
 		(
 				#{userId}
 				,#{title}
 				,#{content}
 				,#{answer}
 				,now()
 				,now()	
 		)				
 	</insert>
 	
 	<update id="updateQna" parameterType="map">
 		UPDATE
 			`qna`
 		SET	
 			 `answer` = #{answer}
 			 ,`updatedAt` = now()
 		WHERE
			`id` = #{postId}
 	</update>
 
 	<select id="selectQnaList" parameterType="map"
 	resultType="com.yoojung0318.puppyplay.post.qna.model.Qna">
 		SELECT
 				`id`
 				,`userId`
 				,`title`
 				,`content`
 				,`answer`
				,createdAt
				,updatedAt
 		FROM
				`qna`
				 	
 	
 	</select>
 	
 	<select id="selectQna" parameterType="int"
 	resultType="com.yoojung0318.puppyplay.post.qna.model.Qna">
 		SELECT
 				`id`
 				,`userId`
 				,`title`
 				,`content`
 				,`answer`
				,createdAt
				,updatedAt
 		FROM
				`qna`
		WHERE
				`id` = #{id}		
 			
 	
 	</select>
 </mapper>