@charset "UTF-8";

#wrap {
	width: 1200px;
	margin: auto;
}

header {
	height: 100px;
}

/*글씨, footprint-image, 자주 쓰는 이미지*/
.italic{
	font-style: italic;
}
.footprint{
	height: 40px;
	width: 40px;
}
.footprint-white{
	height: 50px;
	width: 50px;
}
.puppy4{
	height: 130px;
	width: 130px;
}
.hr-solid {
  border : 0px;
  border-top: 3px solid darkgrey;
}
/*login*/
.loginPuppy{
	width:400px;
	height:450px;
}
.login-box{
	width:400px;
	height:450px;
}

/*signup*/
.signup-box {
	width:400px;
	height:530px;
}

/*main + main-banner*/
nav{
	height: 100px;
	font-size: 30px;
	
}
.nav-text{
	color:gray;
}
.font-size-35{
	font-size:35px;
}
a:hover   { 
	color: black;
	 }
.main-article {
	width:750px;
	height:600px;
	background-color: #506c7e;
}
.mainPuppy1{
	width:600px;
	height:600px;
}
.banner-img {
	width:600px;
	height:600px;
}
.carousel-inner{
	width:600px;
	height:600px;
}
.article-comment1{
	font-size: 40px;
	font-weight: bold;
	color: white ;
	text-shadow: 2px 3px 3px black; 	
}
.article-comment2{
	font-size: 70px;
	font:italic;
	color: white;
	text-shadow: 2px 3px 3px black; 
}

/*today*/
.today-title{
	font-size: 20px;
	color: #000040;
}
.today-schuedule-time{
	width:300px;
	height:70px;
	background-color: #7a98ab;
	 border-radius: 20px 0px 0px 20px;
}
.today-schuedule-time > .text{
	font-size : 30px;
	color:white;
	
}
.today-schuedule-text{
	width:400px;
	height:70px;
	background-color: white;
	border-radius: 0px 20px 20px 0px;
}
.today-schuedule-text > .text{
	font-size : 25px;
}
.playtime{
	width: 350px;
	height: 510px;
	font-size : 20px;
	border-width: 3px 3px 3px 3px;
	border-color: #7a98ab;
	border-style: double;
	background-color: white;
	border-radius: 20px 20px 20px 20px;
	
	}
.bi-clock{
	font-size: 40px;
	color: white;
}

/*monthly*/
.monthly-logo{
	height: 130px;
	background-color: #ebe7e8;	
}
.monthly-logo-text > h1 {
	font-size: 80px; 
	color: #506c80;	
}
.header{
	font-size:15px;
}
.calendar

footer {
	height:50px;
}